# IDE and Editor files
*.code-workspace
.vscode/
.idea/

# OS-specific files
.DS_Store

# Environment and secrets
*.env

# Project conversion and migration logs
**/projects/conversion-report.txt
**/.resources/

# MQTT
**/tag-*/MQTT Distributor/
**/tag-*/MQTT Engine/
**/tag-*/MQTT Transmission/

# System Tags
**/tag-*/System/